
.principalDiv
{
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
h1 {
    font-size:15px;
    color: red;
    font-family:sans-serif;
}
